:root {
  scroll-behavior: smooth;
  --radius: 0.5rem;
  --border-color: #d2d2d2;
  --default-border: 1px solid var(--border-color);
  --white: #fff;
  --body-background: #eee;
  --text-color: #413839;
  --error: #f00;
  --go-top-color: #a0c0f0;
  --go-top-bg-color: #565656;
  --link-color: #0000ee;
  --link-color-hover: #0076ed;
  --target-shadow: #ccc;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--body-background);
  color: var(--text-color);
}

.error {
  border: 1px solid var(--error);
}

.gotop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 666;
  width: 3em;
  height: 3em;
  color: var(--go-top-color);
  background-color: var(--go-top-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  transition: box-shadow 0.3s ease-in-out;
}

.back-home {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  font-weight: 600;

  & svg {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
  &:hover svg {
    filter: invert(1);
  }
}

.home {
  position: fixed;
  bottom: 125px;
  right: 25px;
  z-index: 666;
  width: 3em;
  height: 3em;
  /* color: var(--go-top-color);
  background-color: var(--go-top-bg-color); */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  transition: box-shadow 0.3s ease-in-out;
}

.gotop:hover {
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.6);
}

h1 {
  width: max-content;
  padding: 1rem 2rem;
  margin: 2rem auto;
  background-color: var(--white);
  border-radius: var(--radius);
}

h2 {
  position: sticky;
  top: 0px;
  background: var(--white);
  padding-block: 2rem;
  margin-top: 0;
}

.content__wrapper {
  display: grid;
  grid-template-columns: 285px 1fr;
  column-gap: 2rem;
  margin-left: 2rem;
}

nav {
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  position: sticky;
  height: 90vh;
  top: 90px;
  overscroll-behavior-y: contain;
  overflow-y: scroll;
  padding: 0 1rem 1rem;
  margin-top: 0;
}

.schema,
.elements__count {
  font-size: 0.9rem;
  opacity: 0.75;
}

ul {
  list-style-type: square;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-block: 0.5rem;
}

nav a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  transition: all 0.5s;
}

nav a:hover,
.list__of__schemas a:hover {
  background-color: var(--link-color);
  color: var(--white);
  border-radius: var(--radius);
}

main {
  flex: 1;
  & a:hover {
    color: var(--link-color-hover);
  }
}

section {
  background-color: var(--white);
  padding: 1rem;
  margin: 2rem 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);

  &:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

section:target {
  box-shadow: 2px 2px 8px 8px var(--target-shadow);
}

article {
  border: 1px solid var(--border-color);
  border-radius: calc(var(--radius) / 2);
  margin: 1rem;
  padding: 1rem;
}

.treeFilter {
  text-align: center;
  li:not(.activeFilter) svg {
    opacity: 0.4;
  }
}

svg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--radius);
  border: var(--default-border);
  &:hover {
    cursor: pointer;
  }
}

/* Style for index.html */

.list__of__schemas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35em, 1fr));
  gap: 3rem;
  list-style: none;
  margin: 2rem;
  padding: 0;
  text-align: center;

  & li {
    background-color: var(--white);
    border-radius: var(--radius);
  }

  & a {
    display: block;
    color: var(--link-color);
    font-size: 1.5rem;
    padding: 2rem 0;
    text-decoration: none;
    transition: all 0.5s;
  }
}

/* Utility classes */

.ml__1 {
  margin-left: 1rem;
}

.flex {
  display: flex;

  .flex-1-1 {
    flex: 1 1;
  }
  .flex-a-i-c {
    align-items: center;
  }
  .flex-j-c-c {
    justify-content: center;
  }
}
